*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, button {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
}

button {
  border: none;
  background: transparent;
}

button:hover,
input[type='submit']:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  display: block;
}

ul, li {
  list-style: none;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}
